.content.attract .logo
{
	display:block;
	position:relative;
	width:80%;
	margin:15% auto 0;
}

.content.attract span
{
	display: block;
	position:relative;
	font-family: 'open_sansregular';
	text-align: center;
	font-size:60px;
	margin-top:100px;
	padding-bottom:10px;
}